[submodule "StormByte Suite - Logger"]
	path = thirdparty/StormByte/logger/src
	url = https://github.com/StormBytePP/StormByte-Logger.git
[submodule "StormByte - BuildMaster"]
	path = thirdparty/buildmaster
	url = https://github.com/StormBytePP/StormByte-BuildMaster.git
